html{
    scroll-behavior: smooth;
}

.imgMain{
    aspect-ratio: 9/16;
    object-fit: contain;
}

.landingMain{
    max-height: 1200px;
    min-height: 700px;
}
.circleLanding{
    background: rgb(248,204,0);
    background: linear-gradient(90deg, rgba(248,204,0,1) 25%, rgba(255,235,2,1) 42%, rgba(255,248,0,0.9051995798319328) 77%);
}

.landingSvg1{
    background-image: url("/public/svg/landingSvg1.svg");
}

.landingSvg2{
    background-image: url("/public/svg/landingSvg2.svg");
}

.separatorSvgBottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
}

.separatorSvgTop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
}

.carouselTecnlogias::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  /* Estilos para el fondo de la barra de desplazamiento */
.carouselTecnlogias::-webkit-scrollbar-track {
    background-color: transparent; /* Fondo transparente */
}

.carouselTecnlogias::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #000; /* Color de la barra de desplazamiento */
}
.carouselTecnlogias{
    scroll-behavior: smooth;
}
  


